#navigator {
	position: absolute;
	width: 100px;
	height: 410px;
	/*background-color: #aaaaaa;*/
	background-color: transparent;
	opacity: 0.3;
	border: 1px solid #fff;
	box-shadow: 0 0 5px 2px #1A3457;
	-webkit-box-shadow: 0 0 5px 2px #1A3457; /* Safari, Chrome */
	-moz-box-shadow: 0 0 5px 2px #1A3457; /* Firefox */
	margin: 0 auto;
	padding: 3 5 3 5;
}
.circle {
	float: left;
	margin: 10px;
	text-align: center;
	color: #505050;
	font-family: Helvetica;
	font-weight: 900;
	background-color: #fff;
	background-position: 50% 50%;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	-webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 6px #999, 0px 1px 1px 7px #bbb;
	box-shadow: 0 0 0 4px #fff, 0 0 0 5px #999, 1px 1px 1px 1px #bbb;
	content: '';
	cursor: pointer;
}
.circle img {
	position: absolute;
	top: -4px;
	left: -4px;
}
.arrow {
	position: absolute;
	width: 0;
	height: 0;
	left: 3px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #505050;
}
.arrow-right {
	-webkit-transform: rotate(180deg);
	position: absolute;
	left: 60px;
	top: 40px;
}
.arrow-left {
	position: absolute;
	left: 0px;
	top: 40px;
}
.arrow-down {
	-webkit-transform: rotate(270deg);
	position: absolute;
	left: 30px;
	top: 70px;
}
.arrow-up {
	-webkit-transform: rotate(90deg);
	position: absolute;
	left: 30px;
	top: 10px;
}
#slider {
	position: absolute;
	left: 42px;
	top: 160px;
	height: 200px;
}
#arrowup {

}
#arrowdown {

}
#arrowleft {

}
#arrowright {

}
#plus {
	background-image: url(../pic/slider_btn_zoom_in.png);
	position: absolute;
	left: 30px;
	top: 110px;
}
#minus {
	background-image: url(../pic/slider_btn_zoom_out.png);
	position: absolute;
	left: 30px;
	top: 370px;
}
.body {
	background-image: url(/trash/back_11111.jpg);
	margin: 0;
}
#loginform {
	display: none;
	margin: 10px auto 5px;
	text-align: center;
	width: 600px;
	height: 400px;
	background: rgba(245,255,250, 0.6);
	border-radius: 10px;
}
#loginform input {
	font: 30px;
	border-radius: 5px;
}
#home {
	display: none;
}
#formcontainer {
	display: none;
	margin: 10px auto 5px;
	text-align: center;
	width: 600px;
	height: 400px;
	background: rgba(245,255,250, 0.6);
	border-radius: 10px;
}
#tabbox {
	height: 40px;

}
#panel {
	background-color: #FFF;
	height: 300px;
}
label {
	width: 40%;
	float: left;
	text-align: right;
}
input[type=text],input[type=password],input[type=date] {
	float: left;
	margin-left: 10px;
	border-radius: 5px;
	
}
.tab {
	position: relative;
	background: #dedede;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 290px;
	float: right;
	font-weight: bold;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0 0;
}
#registrationtab {
	float: right;
}
#logintab {
	float: left;
}
p a {
	color: #000;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.signup {
	margin-left: 8px;
}
.select {
	background-color: #FFF;
}
#loginbox {
	min-height: 200px;
	padding: 10px;
}
#signupbox {
	min-height: 200px;
	padding: 10px;
	display: none;
}
/*****Pop-ups******/
table.pop_up {
	margin: 5px 0 0 5px;
}
/**/
.bl {
	background: #ff793f url(notifications/delete_categoriesLb.gif) 0 100% no-repeat;
	margin: 5px 0px 0px 400px;
	width: 40%
}
.br {
	background: url(notifications/delete_categoriesRb.gif) 100% 100 % no-repeat
}
.tl {
	background: url(notifications/delete_categori.gif) 0 0 no-repeat
}
.tr {
	background: url(notifications/delete_categoriesR.gif) 100% 0 no-repeat;
	padding: 5px 5px 5px 25px;
}
.bl_det {
	background: #b0d3ef url(notifications/bl_detals.gif) 0 100% no-repeat;
	margin: 5px 0px 0px 660px;
	width: 15%
}
.br_det {
	background: url(notifications/br_detals.gif) 100% 100% no-repeat
}
.tl_det {
	background: url(notifications/tl_detals.gif) 0 0 no-repeat
}
.tr_det {
	background: url(notifications/tr_detals.gif) 100% 0 no-repeat;
	padding: 3px 25px 4px 40px;
	color: #294887
}
.mg_r {
	margin: 10px 100px 0 450px;
}
.bl_r {
	background: #b0d3ef url(notifications/bl_detals.gif) 0 100% no-repeat;
	float: left;
}
.br_r {
	background: url(notifications/br_detals.gif) 100% 100% no-repeat;
}
.tl_r {
	background: url(notifications/tl_detals.gif) 0 0 no-repeat;
}
.tr_r {
	background: url(notifications/tr_detals.gif) 100% 0 no-repeat;
	padding: 5px 15px 7px 15px;
	color: #294887
}
/*orange*/
.bl_o {
	background: #ff793f url(notifications/delete_categoriesLb.gif) 0% 100 % no-repeat;
}
.br_o {
	background: url(notifications/delete_categoriesRb.gif) 100% 100 % no-repeat;
}
.tl_o {
	background: url(notifications/delete_categori.gif) 0% 0% no-repeat;
}
.tr_o {
	background: url(notifications/delete_categoriesR.gif) 100% 0 no-repeat;
	padding: 5px 15px 7px 15px;
	color: #ffffff;
}
/*green*/
.bl_gr {
	background: #81e193 url(notifications/edit_categoriesLb.gif) 0 100 % no-repeat;
}
.br_gr {
	background: url(notifications/edit_categoriesRb.gif) 100% 100% no-repeat;
}
.tl_gr {
	background: url(notifications/edit_categori.gif) 0 0 no-repeat;
}
.tr_gr {
	background: url(notifications/edit_categoriesR.gif) 100% 0 no-repeat;
	padding: 5px 15px 7px 15px;
	color: #ffffff
}
/**/
.bl_g {
	background: #b3ebba url(notifications/addSuccessLeft.jpg) 0 100% no-repeat;
	float: left;
}
.br_g {
	background: url(notifications/addSuccessLeft.jpg) 100% 100% no-repeat;
}
.tl_g {
	background: url(notifications/addSuccessLeft.jpg) 0 0 no-repeat;
}
.tr_g {
	background: url(notifications/addSuccessLeft.jpg) 100% 0 no-repeat;
	padding: 3px 15px 4px 15px;
	color: #000
}
.tail_blue {
	height: 10px;
	background: url(notifications/bb_detals.gif) no-repeat 80% 100%;
}
.tail_green {
	height: 10px;
	background: url(notifications/edit_categoriesBtt.gif) no-repeat 80% 100%;
}
.tail_orange {
	height: 10px;
	background: #ffffff url(notifications/delete_categoriesBtt.gif) no-repeat 80% 100%;
}
#hint {
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-moz-border-radius: 5px; /* Firefox */
	box-shadow: 0 0 5px 2px #1A3457;
	-webkit-box-shadow: 0 0 5px 2px #1A3457; /* Safari, Chrome */
	-moz-box-shadow: 0 0 5px 2px #1A3457; /* Firefox */
	background: #000;
	text-align: center;
	margin: 0 auto;
	padding: 3 5 3 5;
	color: #fff;
	opacity: 0;
}