<div id="navigator" style="position:absolute; z-index: 100;">
			<input type="button" id="logout_btn" class="nav-button" value="Logout" />
			<div id="zoom_text">
				Zoom
			</div>
			<div id="slider"></div>
			<input type="button" id="revers" class="nav-button nav-tool-button" value="Reverse" />
			<input type="button" id="save_image" class="nav-button nav-tool-button" value="Save image" />
			<input type="button" id="export" class="nav-button nav-tool-button" value="Export tree" />

			<div id="select-view">
				<input type="radio" name="view" id="view1" checked value="1"/> <span class="view">Plain View</span><br/>
				<input type="radio" name="view" id="view2" value="2"/> <span class="view">3D View</span>
			</div>
		</div>
		<div id="roll" style="position: absolute; height: 99%; width: 80px; z-index: 110;"></div>
		<div id="hint"></div>
		<div id="osx-modal-content-edit">
			<div id="osx-modal-title-edit">
				OSX Style Modal Dialog
			</div>
			<div class="close">
				<a href="#" class="simplemodal-close">x</a>
			</div>
			<div id="osx-modal-data-edit">
				<table id="data_table">
					<tr>
						<td id="photo_form">
						<div id="photo_upload" style="height: 80px;">
							<input type="button" id="upload_input" value="Upload photo">
							<div>
								*.jpg, *.jpeg, *.png, *.gif (max file size 2 Mb)
							</div>
						</div>
						<div id="photo_crop">
							<div id="text_image">
								<span>Select photo fragment to display</span>
							</div>
							<div id="photo_div">
								<img id="photo" />
								<div id="dp"><img id="photo_native_size"/>
								</div>
							</div>
							<div id="container_preview">
								<img id="photo_preview" src="" />
							</div>
							<input type="hidden" id="x1" name="x1" value="" />
							<input type="hidden" id="y1" name="y1" value="" />
							<input type="hidden" id="x2" name="x2" value="" />
							<input type="hidden" id="y2" name="y2" value="" />
							<input type="hidden" id="w" name="w" value="" />
							<input type="hidden" id="h" name="h" value="" />
							<input type="hidden" id="cropped" name="cropped" value="" />
							<input type="hidden" id="uploaded" name="uploaded" value="" />
						</div></td>
						<td>
						<table id="user_info_div" class="form_edit_user">
							<tr>
								<td class="data-edit-field"> First name </td>
								<td class="data-edit-data">
								<input type="hidden" id="user_id" name="user_id"/>
								<input type="hidden" id="f_id" name="f_id"/>
								<input type="hidden" id="m_id" name="m_id"/>
								<input type="hidden" id="ch_ids" name="ch_ids"/>
								<input type="hidden" id="spouse_id" name="spouse_id"/>
								<input id="f_name" name="f_name"/>
								</td>
							</tr>
							<tr>
								<td class="data-edit-field"> Last name </td>
								<td class="data-edit-data">
								<input id="l_name" name="l_name"/>
								</td>
							</tr>
							<tr>
								<td class="data-edit-field"> Birth date </td>
								<td class="data-edit-data">
								<input id="b_date" name="b_date"/>
								</td>
							</tr>
							<tr>
								<td class="data-edit-field"> Death date </td>
								<td class="data-edit-data">
								<input id="d_date" name="d_date"/>
								</td>
							</tr>
							<tr>
								<td class="data-edit-field"> Gender</td>
								<td>
								<input type="radio" id="m_radio" name="gender" value="m" checked />
								Male
								<input type="radio" id="f_radio" name="gender" value="f" />
								Female </td>
							</tr>
							<tr>
								<td class="data-edit-field"> About </td>
								<td class="data-edit-data">								<textarea id="about" name="about" class="mceEditor"></textarea></td>
							</tr>
						</table>
						<table>
							<tr>
								<td>
								<div id="osx-modal-content-buttons">
									<input type="submit" id="submit_person" class="simplemodal-close" value="Save" />
									<input type="button" class="simplemodal-close" value="Close">
									<span>(or press ESC or click the overlay)</span>
								</div></td>
							</tr>
						</table></td>
					</tr>
				</table>
			</div>
		</div>
<img id="canvasImg" alt="Right click to save me!" style="display: none;">